.mapContainernavbar{
    background-color: rgb(0, 0, 33);
    text-align: center;
    padding: 15px;
}
.navheadingMap{
    color: white;
    font-size: 25px;
}
.mapContainer{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-style: solid;
}
.not-found-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .erropara{
    font-size: 35px;
    font-weight: bold;
    color: rgba(5, 5, 172, 0.978);
  }